[Unit]
Description=Fix groups for legacy rechunker
ConditionPathExists=/run/ostree-booted
Wants=local-fs.target
After=local-fs.target
Before=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=bash -c 'touch /etc/gshadow && chmod 600 /etc/gshadow'
ExecStart=bash -c 'rm /etc/gshadow'
ExecStart=systemd-sysusers
ExecStart=rechunker-group-fix
ExecStart=systemd-tmpfiles --create --remove --boot --exclude-prefix=/dev

[Install]
WantedBy=default.target multi-user.target
